/*counter*/
.bgo{
	padding: 20px 0;
	font-size: 50px;
	border-bottom: 5px solid red;
}

.cou{
	min-height: 100px;
	margin-top: 20px;
	background-color: red;
}
.count{
	margin-top: 20px;
	display: inline-block;
	color: white;
}

/*wow*/
.rig_s{
	width: 100%;
	min-height: 300px;
	background-color: red;
}
.left_s{
	width: 100%;
	min-height: 300px;
	background-color: lightblue;
}
.ble_1 {
	padding-top: 115px;
	color: white;
	text-align: center;
	text-transform: uppercase;
}
/*parallax*/
.parallax-window {
    min-height: 500px;
    background: transparent;
}

/*curvedtext*/

#text1
{
    margin:           3.0em 0.0em;
    overflow:         hidden;
    color:            #ffffff;
    background-color: red;
}